<div class="container">
    <div class="row">
        <div *ngFor="let item of items; let i = index;" class="col-sm-4 col-lg-4 mb-4">

            <div class="gal-detail thumb">
                <a (click)="showSelectedItem(item)">
                    <div class="image-container">
                        <img class="img-fluid" [src]="replaceImageUrl(item.thumbnail.imageUrl)" alt="work-thumbnail">
                    </div>
                </a>
                <h4 class="text-center">{{item.title}}</h4>
                <div class="ga-border"></div>
                <p class="text-muted text-center"><small>{{item.category}}</small></p>
            </div>
        </div>
    </div>
</div>